<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>Angularjs directives for Materialize CSS Framework</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

    <!-- TODO: This version contains a bug with adjusting height in textarea's. Update when possible -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

    <script type="text/javascript" src="src/angular-materialize.js"></script>

    <!-- App -->
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="materializeApp" ng-controller="BodyController">
<header>
    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav" data-sidenav="left" data-closeonclick="false"><i
            class="mdi-navigation-menu"></i></a></div>
    <ul id="nav-mobile" class="side-nav fixed">
        <!--Maybe a logo?-->
        <!--<li class="logo" style="margin-left: -15px;"><a id="logo-container" href="http://materializecss.com/"class="brand-logo"><h3></h3></a></li>-->
        <li class="bold"><a href="http://materializecss.com/" class="waves-effect waves-teal">Materialize</a></li>
        <li class="bold"><a href="https://angularjs.org/" class="waves-effect waves-teal">AngularJS</a></li>

        <li class="bold"><a href="#about" class="waves-effect waves-teal">About angular-materialize</a></li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal active">Forms</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#input-field">Input-field</a></li>
                            <li><a href="#input-date">Input-date</a></li>
                            <li><a href="#select">Material select</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal active">JavaScript</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#collapsible">Collapsible</a></li>
                            <li><a href="#toast">Dialogs - Toast</a></li>
                            <li><a href="#dropdown">Dropdown</a></li>
                            <li><a href="#sidenav">SideNav</a></li>
                            <li><a href="#tabs">Tabs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>

        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal active">Components</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#pagination">Pagination</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>
<main>
    <div class="section" id="index-banner">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="header center-on-small-only"><a href="https://github.com/webbiesdk/angular-materialize" style="color:white;">Angular-materialize</a></h1>
                    <p style="color: white;" class="center-on-small-only">This is a collection of simple angular directives for using the features in <a href="http://materializecss.com">materializecss</a>. </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row" id="about">
            <h2 class="header">About angular-materialize</h2>
            <p>This plugin is useful for you if you want to use the <a href="http://materializecss.com/">Materialize UI framework</a> with angular. </p>
            <p>It includes a number of directives, which makes sure that the components in materialize.js, which are mainly initialized on document ready, are handled by Angular in the right way.<p>
            <p>So it is not a complete rewrite of Materialize. And it therefore depends on jQuery, because Materialize depends on jQuery.</p>
            <p>The following sections are examples of the directives which are included in this plugin,
                you can also use the menu to the left to see if the directive you are looking for is implemented.<br/>
                Otherwise, you can <a href="https://github.com/krescruz/angular-materialize/issues/">suggest it to the developers</a>
                or <a href="https://github.com/krescruz/angular-materialize/pulls">implement it yourself</a>.</p>
        </div>

        <div class="row" id="input-field">
            <h2 class="header">Input-field</h2>
            <p>Materialize uses the class .input-field to manage animating labels and input-fields. But that doesn't work properly when angular dynamically creates element</p>
            <p>Instead of adding the class input-field, use the input-field directive. This way it still works when angular dynamically
            creates it.</p>
        </div>
        <div class="row" ng-init="showInputLabel = true;dummyInputs.inputFieldInput = 'This is input'">
            <div class="col s2">
                <a class="btn waves-effect waves-light" ng-click="showInputLabel = !showInputLabel">Toggle input</a>
            </div>
            <div class="col s4">
                <div></div>
                <div ng-if="showInputLabel" input-field>
                    <input type="text" ng-model="dummyInputs.inputFieldInput">
                    <label>Input label</label>
                </div>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div input-field&gt;
    &lt;input type="text" ng-model="dummyInputs.inputFieldInput"&gt;
    &lt;label&gt;Input label&lt;/label&gt;
&lt;/div&gt;</code></pre>
        </div>
        <div class="row">
            <p>You can also use it as an element instead of an attribute.</p>
<pre><code class="language-markup" ng-non-bindable>
&lt;input-field&gt;
    &lt;input type="text" ng-model="dummyInputs.inputFieldInput"&gt;
    &lt;label&gt;Input label&lt;/label&gt;
&lt;/input-field&gt;</code></pre>
        </div>


        <div class="row" id="input-date">
            <h2 class="header">Input-date</h2>
            <p>The below example is where there are values in all the options, but all the options are optional. </p>
        </div>
        <div class="row" ng-controller="DateController">
            <label for="inputCreated">Input date</label>
            <input input-date
                   type="text"
                   name="created"
                   id="inputCreated"
                   ng-model="currentTime"
                   format="dd/mm/yyyy"
                   months-full="{{ month }}"
                   months-short="{{ monthShort }}"
                   weekdays-full="{{ weekdaysFull }}"
                   weekdays-short="{{ weekdaysShort }}"
                   weekdays-letter="{{ weekdaysLetter }}"
                   today="today"
                   clear="clear"
                   close="close"
                   on-start="onStart()"
                   on-render="onRender()"
                   on-open="onOpen()"
                   on-close="onClose()"
                   on-set="onSet()"
                   on-stop="onStop()" />
        </div>
        <div class="row">
            <p>The code in the HTML</p>
<pre><code class="language-markup" ng-non-bindable>&lt;label for="inputCreated"&gt;Input date&lt;/label&gt;
&lt;input input-date
    type="text"
    name="created"
    id="inputCreated"
    ng-model="currentTime"
    format="dd/mm/yyyy"
    months-full="{{ month }}"
    months-short="{{ monthShort }}"
    weekdays-full="{{ weekdaysFull }}"
    weekdays-short="{{ weekdaysShort }}"
    weekdays-letter="{{ weekdaysLetter }}"
    today="today"
    clear="clear"
    close="close"
    on-start="onStart()"
    on-render="onRender()"
    on-open="onOpen()"
    on-close="onClose()"
    on-set="onSet()"
    on-stop="onStop()" /&gt;</code></pre>
            <p>And the JavaScript in the controller</p>
            <pre><code class="language-javascript">var currentTime = new Date();
$scope.currentTime = currentTime;
$scope.month = ['Januar', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
$scope.monthShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
$scope.weekdaysFull = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
$scope.weekdaysLetter = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];
$scope.today = 'Today';
$scope.clear = 'Clear';
$scope.close = 'Close';
$scope.onStart = function () {
    console.log('onStart');
};
$scope.onRender = function () {
    console.log('onRender');
};
$scope.onOpen = function () {
    console.log('onOpen');
};
$scope.onClose = function () {
    console.log('onClose');
};
$scope.onSet = function () {
    console.log('onSet');
};
$scope.onStop = function () {
    console.log('onStop');
};</code></pre>
        </div>


        <div class="row" id="select">
            <h2 class="header">Material select</h2>
            <p>Add the material-select as an attribute to the select where you want material-select.</p>
            <p>Not needed if you add the class browser-default.</p>
            <p>It doesn't support changing content within the select, add the class browser-default if you want that.</p>
        </div>
        <div class="row">
            <div class="section col s4">
                <select class="" ng-model="select.value1" material-select>
                    <option ng-repeat="value in select.choices">{{value}}</option>
                </select>
            </div>
            <div class="section col s4">
                <h5>You selected: <b>{{select.value1}}</b></h5>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;select class="" ng-model="select.value1" material-select&gt;
    &lt;option ng-repeat="value in select.choices"&gt;{{value}}&lt;/option&gt;
&lt;/select&gt;</code></pre>
        </div>
        <div class="row">
            <h5>Using class browser-default</h5>
            <div class="section col s4">
                <select class="browser-default" ng-model="select.value2">
                    <option ng-repeat="value in select.choices">{{value}}</option>
                </select>
            </div>
            <div class="section col s4">
                <h5>You selected: <b>{{select.value2}}</b></h5>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;select class="browser-default" ng-model="select.value2"&gt;
    &lt;option ng-repeat="value in select.choices"&gt;{{value}}&lt;/option&gt;
&lt;/select&gt;</code></pre>
        </div>

        <div class="row" id="collapsible">
            <h2 class="header">Collapsible</h2>
            <p>The collapsible below is populated using ng-repeat, just to show that it is possible. You can also just manually put in the content. </p>
            <p>In the below, the popout class is added, which makes a "Google inbox" effect. Just remove the popout class to get a normal accordion. </p>
            <p>Since this is just a wrapper for materializes collapsible, <a href="http://materializecss.com/collapsible.html">all their customization</a> can be used. </p>
            <a class="btn waves-effect waves-light" ng-init="showCollapsible = true" ng-click="showCollapsible = !showCollapsible">Show/hide the below collapsible</a>
        </div>
        <div class="row" ng-controller="CollapsibleController"  ng-if="showCollapsible">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li ng-repeat="single in collapsibleElements">
                    <div class="collapsible-header"><i class="{{single.icon}}"></i>{{single.title}}</div>
                    <div class="collapsible-body"><p>{{single.content}}</p></div>
                </li>
            </ul>
        </div>
        <div class="row">
            <p>The code in the HTML</p>
<pre><code class="language-markup" ng-non-bindable>&lt;ul class="collapsible popout" data-collapsible="accordion"&gt;
    &lt;li ng-repeat="single in collapsibleElements"&gt;
        &lt;div class="collapsible-header"&gt;&lt;i class="{{single.icon}}"&gt;&lt;/i&gt;{{single.title}}&lt;/div&gt;
        &lt;div class="collapsible-body"&gt;&lt;p&gt;{{single.content}}&lt;/p&gt;&lt;/div&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>
            <p>And the JavaScript in the controller</p>
<pre><code class="language-javascript">$scope.collapsibleElements = [{
        icon: 'mdi-image-filter-drama',
        title: 'First',
        content: 'Lorem ipsum dolor sit amet.'
    },{
        icon: 'mdi-maps-place',
        title: 'Second',
        content: 'Lorem ipsum dolor sit amet.'
    },{
        icon: 'mdi-social-whatshot',
        title: 'Third',
        content: 'Lorem ipsum dolor sit amet.'
    }
];</code></pre>

        </div>


        <div class="row" id="toast">
            <h2 class="header">Toasts</h2>
            <p>Materializes toast is a global function. Using this directive you can call a toast using a custom event (in the below click), and show a message determined by a variable in the scope.</p>
        </div>
        <div class="row">
            <div class="col s4" input-field>
                <input id="message" type="text" ng-model="dummyInputs.message">
                <label for="message">Message</label>
            </div>
            <div class="input-field col s4">
                <a class="waves-effect waves-light btn" data-message="{{ dummyInputs.message }}" toast='click'>Toast!</a>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div class="row"&gt;
    &lt;div class="col s4" input-field&gt;
        &lt;input id="message" type="text" ng-model="dummyInputs.message"&gt;
        &lt;label for="message"&gt;Message&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="input-field col s4"&gt;
        &lt;a class="waves-effect waves-light btn" data-message="{{ dummyInputs.message }}" toast='click'&gt;Toast!&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>


        <div class="row" id="dropdown">
            <h2 class="header">Dropdown</h2>
            <p>The dropdown attribute in the below makes sure that the jQuery plugin is run.</p>
            <p>You can set attributes on the tag, matching the names of the options in the <a href="http://materializecss.com/dropdown.html#!">materializeCSS's version</a>.</p>
        </div>
        <div class="row">
            <div class="section col s4">
                <!-- Dropdown Trigger -->
                <a class='dropdown-button btn' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
                    This is a dropdown
                </a>

                <!-- Dropdown Structure -->
                <ul id='demoDropdown' class='dropdown-content'>
                    <li><a href="javascript:void(0);">Link 1</a></li>
                    <li><a href="javascript:void(0);">Link 2</a></li>
                    <li><a href="javascript:void(0);">Link 3</a></li>
                    <li><a href="javascript:void(0);">Link 4</a></li>
                    <li><a href="javascript:void(0);">Link 5</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;!-- Dropdown Trigger --&gt;
&lt;a class='dropdown-button btn' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true"&gt;
    This is a dropdown
&lt;/a&gt;

&lt;!-- Dropdown Structure --&gt;
&lt;ul id='demoDropdown' class='dropdown-content'&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Link 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Link 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Link 3&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Link 4&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="javascript:void(0);"&gt;Link 5&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
        </div>


        <div class="row" id="sidenav">
            <h2 class="header">Sidenav</h2>
            <p>Make sure to have a side-menu with id corresponding to the argument <code class="language-markup">data-activates</code>. </p>
            <p>If you copy this page, there is another side-nav link in the top of the page, which initializes first and therefore sets the options. </p>
            <p>If you add the class <code class="language-markup">button-collapse</code> the button will only show when the side-menu is hidden.  <br/>
            This is not done on the below button, for demonstration purposes, although it is added in the code example.</p>
        </div>
        <div class="row">
            <a href="#" data-activates="nav-mobile" class="top-nav btn waves-effect waves-light" data-sidenav="left" data-closeonclick="false">
                Show side-nav
            </a>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="500" data-closeonclick="false"&gt;
    Show side-nav
&lt;/a&gt;</code></pre>
        </div>

        <div class="row" id="tabs" ng-init="showTabs = true">
            <h2 class="header">Tabs</h2>
            <p>This is a very simple directive, that just calls the jQuery plugin when the element is initialized.</p>
            <p>For the styling to work, you still need to have the class <code class="language-markup">tabs</code> on the <code class="language-markup">ul</code> tag</p>
            <p>Because of the simple implementation, don't expect ng-repeat ng-model or similar to work inside the ul of the tabs (should work inside the content though).</p>
            <a class="btn waves-effect waves-light" ng-click="showTabs = !showTabs">Show/hide the below tabs</a>
        </div>
        <div class="row" ng-if="showTabs">
            <div class="col s12">
                <ul class="tabs" tabs>
                    <li class="tab col s3"><a href="#test1">Test 1</a></li>
                    <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
                    <li class="tab col s3"><a href="#test3">Test 3</a></li>
                    <li class="tab col s3"><a href="#test4">Test 4</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">Test 1</div>
            <div id="test2" class="col s12">Test 2</div>
            <div id="test3" class="col s12">Test 3</div>
            <div id="test4" class="col s12">Test 4</div>
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>
&lt;div class="row" ng-if="showTabs"&gt;
    &lt;div class="col s12"&gt;
        &lt;ul class="tabs" tabs&gt;
            &lt;li class="tab col s3"&gt;&lt;a href="#test1"&gt;Test 1&lt;/a&gt;&lt;/li&gt;
            &lt;li class="tab col s3"&gt;&lt;a class="active" href="#test2"&gt;Test 2&lt;/a&gt;&lt;/li&gt;
            &lt;li class="tab col s3"&gt;&lt;a href="#test3"&gt;Test 3&lt;/a&gt;&lt;/li&gt;
            &lt;li class="tab col s3"&gt;&lt;a href="#test4"&gt;Test 4&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div id="test1" class="col s12"&gt;Test 1&lt;/div&gt;
    &lt;div id="test2" class="col s12"&gt;Test 2&lt;/div&gt;
    &lt;div id="test3" class="col s12"&gt;Test 3&lt;/div&gt;
    &lt;div id="test4" class="col s12"&gt;Test 4&lt;/div&gt;
&lt;/div&gt;</code></pre>
        </div>

        <div class="row" id="pagination">
            <h2 class="header">Pagination</h2>
            <p>This is only the pagination buttons, it doesn't do anything to change the page. That you'll have to do in the callback</p>
            <p>In the below, changePage is a function defined on the controller. </p>
        </div>
        <div class="row" ng-controller="PaginationController">
            <pagination
                page="1"
                page-size="10"
                total="200"
                dots="...."
                hide-if-empty="false"
                adjacent="2"
                scroll-top="false"
                pagination-action="changePage(page)" />
        </div>
        <div class="row">
<pre><code class="language-markup" ng-non-bindable>&lt;pagination
    page="1"
    page-size="10"
    total="200"
    dots="...."
    hide-if-empty="false"
    adjacent="2"
    scroll-top="false"
    pagination-action="changePage(page)" /&gt;</code></pre>
        </div>
    </div>
</main>
</body>
</html>